

.update-delete-div {
    display: flex;
}

.update-modal {
    background-color: #9AAB89;
    color: white;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;  
    margin-left: 10px;
}

.update-modal:hover {
    background-color: #354A26;
}