.name-location {
    margin-top: 20px;
    margin-bottom: 20px;
}

.name {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: large;
}

.location {
    font-size: small;
}

.img-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    border: 2px solid black;
}

.main-img {
    width: 50%;
}

.others {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 10px; 
    width: 50%
}

.img {
    width: 100%; 
    height: 150px; 
    object-fit: cover; 
}

.img img {
    width: 100%; 
    height: 100%;
    object-fit: cover;    
}

.under-pictures-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.spot-text {
    /* border: 1px solid black; */
    width: 70%;
}

.owner {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: larger;
}

.description {
    margin-bottom: 10px;
}

.reserve-container {
    border: 2px solid black;
    border-radius: 8px;;
    display: flex;
    flex-direction: column;
    width: 315px;
    height: 90px;
    margin-bottom: 20px;
    margin-top: 15px;
    justify-content: space-around;
 
}

.reserve-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
}

.price {
    font-weight: bolder;
    font-size: medium;
}

.rating, .num-reviews {
    font-size: small;
}

.reserve-button {
    background-color: #c15c6e;
    width: 275px;
    margin-left: 20px;
    height: 30px;
}

/* reviews section styling */

hr {
    border-top: grey 2px solid;
}

/* .reviews-container {
     border: 2px solid black; 
} */

.reviews-top {
    display: flex;
    flex-direction: row;
    text-align: center;
    /* border: 1px solid black; */
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

.review-card {
    border: 2px solid grey;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
   
}

.review-header {
    display: flex;
    flex-direction: column;
}