.name-location {
    margin-top: 20px;
    margin-bottom: 20px;
}

.name {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: large;
}

.location {
    font-size: small;
}

.img-container {
    display: flex;
    flex-direction: row;
    gap: 5px; 
    /* border: 2px solid black; */
    width: 100%; 
    max-width: 1200px;
    margin: 0 auto;
    height: calc(50vh);
}

.main-img {
    width: 50%;
    height: 100%;
}

.main-img img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 5px; 
}

.others {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px; 
    width: 50%; 
    height: 100%;
}

.others .img {
    width: 100%; 
    height: 100%; 
    overflow: hidden;
}

.others .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.under-pictures-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-top: 10px;
}

.spot-text {
    /* border: 1px solid black; */
    width: 60%;
    margin-right: 30px;
}

.owner {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: larger;
}

.description {
    margin-bottom: 10px;
}

.reserve-container {
    border: 2px solid black;
    border-radius: 8px;;
    display: flex;
    flex-direction: column;
    width: 315px;
    height: 90px;
    margin-bottom: 20px;
    margin-top: 15px;
    justify-content: space-around;
    /* margin-right:  */
 
}

.rating-reviews-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.reserve-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
}

.price {
    font-weight: bolder;
    font-size: medium;
}

.rating, .num-reviews {
    font-size: small;
}

.small-dot {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reserve-button {
    background-color: #9AAB89;
    color: white;
    width: 275px;
    margin-left: 20px;
    height: 30px;
}

.reserve-button:hover {
    background-color: #354A26;
}

/* reviews section styling */

hr {
    border-top: grey 2px solid;
}

/* .reviews-container {
     border: 2px solid black; 
} */

.reviews-top {
    display: flex;
    flex-direction: row;
    text-align: center;
    /* border: 1px solid red; */
    width: 200px;
    /* justify-content: space-between; */
    gap: 12px;
    align-items: center;
}

h3{
    margin-top: 0;
}



.post-review-div {
    margin-top: 10px;
}

.post-review-button {
    background-color: #9AAB89;
    color: white;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;  
    /* margin-left: 10px; */
    margin-top: 20px;
}

.post-review-button:hover {
    background-color: #354A26;
}

.review-card {
    border: 2px solid grey;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 5px;
}

.review-header {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .img-container {
        flex-direction: column;
        height: auto; 
    }

    .main-img,
    .others {
        width: 100%; 
        height: auto; 
    }

    .others {
        grid-template-columns: 1fr; 
        grid-template-rows: auto; 
    }
}