.container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
  }
  
  .spot-tile-link {
    display: block;
    text-decoration: none;
    color: inherit; /* Ensures the text inside the link inherits parent styles */
  }
  
  .spot-tile {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 300px; /* Set consistent width */
    transition: box-shadow 0.3s;
    cursor: pointer;
  }
  
  .spot-tile:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .spot-image-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .spot-tile-info {
    padding: 16px;
    display: flex;
    flex-direction: column;
  }
  
  .spot-tile-location {
    font-size: 16px;
    margin: 0 0 8px;
    display: flex;
    justify-content: space-between;   
  }
  
  .spot-tile-rating {
    font-weight: bold;
    margin-left: 8px;
  }
  
  .spot-tile-price {
    font-size: 18px;
    font-weight: bold;
  }


@media (max-width: 768px) {
    .spot-tile {
      flex: 1 1 calc(50% - 20px);  /* Make each tile take up 50% of the container width on medium screens */
    }
}
  
@media (max-width: 480px) {
    .spot-tile {
     flex: 1 1 calc(100% - 20px);  /* Make each tile take up 100% of the container width on mobile screens */
    } 
} 

/*
.container {
    display: flex;
    flex-wrap: wrap;     
    gap: 20px;             
    justify-content: space-between; 
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
}   

.spot-tile {
    flex: 1 1 calc(25% - 20px); 
    box-sizing: border-box;   
    background-color: white;    
    overflow: hidden;    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 310px;
}
  
.spot-image-container img {
    width: 100%; 
    height: auto;  
}
  
.spot-tile-info {
    padding: 16px;  
    display: flex;
    flex-direction: column;
}
  
.spot-tile-location {
    font-size: 1rem;  
    font-weight: bold;
    display: flex;
    justify-content: space-between;   
}
  
.spot-tile-rating {
    font-weight: bold;
    margin-left: 8px; 
}
  
.spot-tile-price {
    font-size: 16px;      
    font-weight: bold;
       
}

.spot-tile-link {
    text-decoration: none;
    color: inherit; 
    display: block; 
}


@media (max-width: 768px) {
    .spot-tile {
      flex: 1 1 calc(50% - 20px);  
    }
}
  
@media (max-width: 480px) {
    .spot-tile {
     flex: 1 1 calc(100% - 20px); 
    } 
} 
*/