.create-spot-container{
    width: 450px;
    margin: auto;
}

h1 {
    font-weight: 600;
}

h3 {
    font-weight: 500;
    margin-bottom: 0;
}

h4 {
    margin-top: 0;
    font-weight: 500;
    font-size: small;
}

input {
    width: 440px;
}

.set-location {
    /* border: solid red 1px; */
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    height: 350px;
    gap: 10px;
}

.ctry-street {
    /* border: solid red 1px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ctry-street input {
    margin-left: 0;
}

.city-state {
    /* border: solid red 1px; */
    display: flex;
    flex-direction: row;
}


.city-state input {
    width: 206px;
    margin-left: 0;
}

.lat-long {
    /* border: solid red 1px; */
    display: flex;
    flex-direction: row;
}

.lat-long input {
    width: 206px;
    margin-left: 0;
}

.description {
    /* border: solid red 1px; */
    margin-bottom: 15px; 
}

textarea {
    width: 442px;
    height: 110px;
    border: 2px solid black;
}

.create-title {
    /* border: solid red 1px; */
    margin-bottom: 15px; 
}

.create-title input {
    margin-left: 0;
}


.dollar-sign {
    /* border: solid red 1px; */
    width: 20px;
}

.set-price {
    /* border: solid red 1px; */
    margin-bottom: 15px; 
} 

/* .set-price input {} */

.sign-input {
    display: flex;
    flex-direction: row;
    /* border: solid red 1px; */
    align-items: center;
   
}


.price-input {
    width: 435px;
    margin-left: 0;
    margin-right: 0;
} 


.add-photos {
    /* border: solid red 1px; */
    margin-bottom: 15px; 
}

.add-photos h4 {
    margin-bottom: 10px;
}

.add-photos input {
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.url-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add-photos button {
    margin-top: 5px;
}

.button-div {
    display: flex;
    justify-content: center;
}