@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: grey 2px solid;
    height: 70px;
    align-items: center;
}

.icon {
    display: flex;
    align-items: center;
    color: #c15c6e;
}

.house {
    color: #c15c6e;
}

.title{
    margin: 5px;
    color: #c15c6e;
    text-decoration: none;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.right-nav {
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    align-items: center;
}

.create-link {
    color: #c15c6e;
    text-decoration: none;
    margin-right: 10px;
}

.profile-button {
    border: 1px solid #c15c6e;
    border-radius: 25px;
}