.profile-dropdown {
    position: absolute;
    right: 0;
    top: 40px; /* Adjust for spacing below the button */
    /* background: white; */
    background-color: #f1f4f0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    list-style: none;
    padding: 10px 0;
    width: 200px;
    z-index: 1000;
  }
  
  .profile-dropdown li {
    padding: 10px 20px;
    cursor: pointer;
    text-align: left;
  }
  
  .profile-dropdown li:hover {
    background: #f6f6f6; /* Subtle hover effect */
  }
  
  .profile-dropdown.hidden {
    display: none; /* Hide dropdown when menu is not visible */
  }
  
  .profile-button {
    display: flex;
    justify-content: space-around;
    background: none;
    border: none;
    cursor: pointer;
    color: #2e6f40;
  }
  
  .menu {
    margin: 5px;
    color: #2e6f40;
  }

  .user {
    margin: 5px;
    color: #2e6f40;
  }

  .profile-button:hover {
    color: #9AAB89;
  }

  .options{
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
  }

  .manage-link {
    text-decoration: none;
    color: #333;
  }

  .manage-div {
    text-align: center;
  }
  .manage-link:hover {
    background-color: #9AAB89;
    opacity: 80%;
  }

  .logout-button-div {
    display: flex;
    justify-content: center;
  }

.logout-button-div:hover {
  background-color: #9AAB89;
  opacity: 80%;
}


.profile-dropdown {
    margin-top: 30px;
    border: 2px solid grey;
}

.logout-button {
  background-color: #9AAB89;
  border: none;
  border-radius: 20px;
  height: 35px;
  width: 75px;
}